.outerfeedbackbox{
    position: relative;
    top:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:1200px;
    height:600px;
    margin-left: 200px;
    border-radius: 10%;
}

.totalfeedbox{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
    width: 50%;
    height: 100%;
}
.feedbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedsubmitbtn{
    margin-top: 10px;
    border-style: none;
    height:43px;
    width:90px;
    border-radius:8px;
    font-size:18px;
}

.feedsubmitbtn:hover{
    color:aliceblue;
    background-color: rgb(83, 117, 226);
    box-shadow: 1px 5px 8px 0px rgb(164, 163, 163);
}

.imgboxdiv{
    background-color: rgb(252, 252, 252);
    width:50%;
    height: 100%;
}

.imgboxdiv img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    height: 100%;
    width: 100%;
   
}

.feedbackimage{
    height: 100px;
    width:100px;
}

.feedbackbox{
    min-height:150px;
    min-width: 400px;
    border-radius: 20px;
    padding: 20px;
    max-width: 500px;
    max-height: 300px;
}
