
*{
    margin: 0px;
    
}
.boxforsearch{
    top:20px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
   
}

.searchinput{
    border-radius: 25px;
    margin-right: 15px;
    border: 0px;
    background-color: rgba(184, 184, 184, 0.537);
    height: 40px;
    width: 400px;
    padding-left: 20px;
    border: 0px;
}

.searchbtn{
    height: 40px;
    width: 80px;
    border-radius: 25px;
    border: 0px;
    font-weight: bold;
    background-color: rgb(191, 191, 191);
    color: rgb(11, 11, 11);
}

.searchbtn:hover{
    color:aliceblue;
    background-color: rgb(83, 117, 226);
    box-shadow: 1px 5px 8px 0px rgb(164, 163, 163);
}


.totalprofilebox{
    display: flex;
    align-items:center;
    justify-content: center;
}

.skillsboxforsearch{
    height:600px;
    width: 1120px;
    flex-direction: column;
    
    
}

.dpbox{
    margin-top: 40px;
    margin-left: 20px;   
}
#dp{
    margin-top: 10px;
    border-radius: 50%;
}

.profilebox{
    display: flex;
    background-color:rgb(252, 252, 252);
    margin-left:2px;
    width:1100px;
    height:280px;
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 5px rgb(164, 163, 163);
}

.detailbox{
    margin-left:70px;
    margin-top: 30px;
    width: 700px;
    height: 45px;
    font-family:'Segoe UI';
    border-radius: 8px;
    border:0px ;
    padding-left: 20px;
}

.detailbox p{
    margin-bottom: 25px;
}

.openbtn{
    border-style: none;
    height:43px;
    width:90px;
    border-radius:8px;
    font-size:18px;
}

.openbtn:hover{
    color:aliceblue;
    background-color: rgb(83, 117, 226);
    box-shadow: 1px 5px 8px 0px rgb(164, 163, 163);
}