.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .overlay.open {
    display: block;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .postdelbtn{
    width: 70px;
    height: 35px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #d1d1d1c0;
  }
  .postdelbtn:hover{
    background-color: rgb(83, 117, 226);
    color:aliceblue;
    box-shadow: 1px 5px 8px 0px rgb(164, 163, 163);
  }
  